<div class="center jumbotron">
  <h1>Welcome to PittFit</h1>

  <h2>
    Welcome to PittFit, a web application to help you find a gym partner! The pete
    has a ton of equiptment, but it can be intimidating to get started on a new machine
    if you are a beginner. Even worse? It can be hard to motivate yourself to make it to 
    the gym on the reg if nobody is counting on you to show up. We have the solution! 
    Sign up for PittFit to match with a pal so you can feel comfy at the gym and 
    make yourself go everyday too!
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Pitt Fit logo"),
            'http://rubyonrails.org/' %>